
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px) ;
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

#body-como-funciona {
    width: 100%;
    margin-top: 35px;
    opacity: 0;
    animation: fadeIn ease-in-out 320ms forwards;
}

#body-como-funciona h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#body-como-funciona p.txtComoFunciona {
    font-size: 16px;
    margin-bottom: 0;
}

#body-como-funciona img{
    max-width: 100%;
    height: auto;
}
#body-como-funciona #img1{
    margin: 25px 0px
}

#body-como-funciona .circulos {
    display: flex;
    align-items: center;
    margin: 25px 0px;
    width: 100%;
    justify-content: space-around;
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circulo span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 15px;
}

#circuloVerde{
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(11, 156, 49, 0.5);
}
#circuloVermelho{
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.5);
}
#circuloCinza{
    width: 25px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(112,112,112, 0.5);
}

#btComece{
    max-width: 100%;
    font-size: 20px;
    background-color: #4A97FD;
    color: white;
    border: none;
    border-radius: 12px 12px;
    line-height: 1;
    padding: 15px 22px;
    margin-top: 20px;
}
#btComece:hover{
    background-color: #3979FF;
}
/*@media (max-width: 900px) {*/
/*    #circuloVermelho,#circuloVerde, #circuloCinza{*/
/*        width: 25px;*/
/*        height: 20px;*/
/*        border-radius: 50%;*/
/*        padding: 10px;*/
/*        }*/
/*    #circulos{*/
/*        display: flex;*/
/*        align-items: center;*/
/*        margin-top: 50px;*/
/*        margin-left: 50px;*/
/*        }*/
/*    #btComece{*/
/*        max-width: 70%;*/
/*        font-size: 16px;*/
/*        padding: 11px 18px;*/
/*        }*/
/*    #img1{*/
/*        margin-left: 0;*/
/*    }*/
/*}*/
/*@media (max-width: 414px) {*/
/*    #circuloVermelho,#circuloVerde, #circuloCinza{*/
/*        width: 15px;*/
/*        height: 10px;*/
/*        border-radius: 50%;*/
/*        padding: 10px;*/
/*    }*/
/*    #circulos{*/
/*        display: flex;*/
/*        align-items: center;*/
/*        margin-top: 50px;*/
/*        justify-content: center;*/
/*    }*/
/*    #btComece{*/
/*        max-width: 50%;*/
/*        font-size: 16px;*/
/*        padding: 11px 18px;*/
/*    }*/
/*}*/
